[partner=moneysupermarket] {
  --button-primary-background-color: #590f85;
  --button-primary-color: white;

  --button-secondary-background-color: white;
  --button-secondary-color: rgb(89, 15, 133);
}
